/*
  В variables.css заданы базовые значения тёмной темы, 
  а в dark.css повторяем их для селектора :root.theme-dark. 
  Это нужно не просто из-за повторения значений, 
  а потому, что селектор с классом выбранной темы имеет более высокую специфичность и 
  позволяет ручному выбору «Неон» перекрыть автоматическую светлую тему устройства
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --focus-color: #db00ff;
  --title-decor-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
}

.theme-dark .header__rec-badge {
  display: flex; /* Показываем REC в тёмной теме */
}