/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box; /* Все элементы и их псевдоэлементы будут учитывать границы и отступы в своих размерах */
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto; /* Центрируем страницу и убираем отступы */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0; /*внутренний отступ убираем, чтобы не было отступов у списков*/
  list-style: none; /*точки списка убираем*/
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor; /*наследуем цвет от родителя*/
  font-family: inherit; /*наследуем шрифт от родителя*/
  font-size: inherit; /*наследуем размер шрифта от родителя*/
  line-height: inherit; /*наследуем высоту строки от родителя*/
}
